

* { 
    margin: 0;
    padding: 0;
    background: gray;

}
/*--------------------------contenedor general--------------------*/
    .contenedor-gen { 
        width:900px; 
        height: 1200px;
        background: brown ;
        margin: auto;
    }

/*---------------header -----------*/




        header {
            width:100%;
            height:30%;
            
        } 
                header .imgheader{
                    width: 100%;
                    height:90%;
                    
                    }

                    .imgheader img{
                        width: 100%;
                        height: 100%;
                    }
                    
                     /*menu*/
.menu, .menu ul, .menu ul li, .menu ul li a{
    background: black;
}

                .menu {
                        width:100%;
                        height:10%;
                        border-top: 2px solid white;
                        }

                 .menu ul{
                        width: 100%;
                       height: 93%;
                       text-align: center; 
                          }

.menu ul li{
     padding: 5px;
    font-size: 15px;
    width: 8,5%;
    margin: 0;
    list-style: none;
    display: inline-block;
    border-right: solid 1px white;

}

.menu ul li a{
      text-decoration: none;
      color: white;
  }
.menu ul li a:hover{
    color:red;
}

                                    /*----------------main- cuerpo----------------------*/



        main#general {
            width:100%;
            height: 67%;
            background: #6F0101;
        }

main#general, .derecha,.contenedor-formulario, .contenedor-formulario div>:first-child, p, .contenedor-formulario h3, table, td, .texto-formulario, label, span, span input{
    background-color: #6F0101;

}


                 /*----------              centro           ------------------*/ 

            .centro{
                width: 200px;
                height: 95.5%;
                float: left;
                margin-left: 35px;
            }
            .centro1, .centro2{
                color:white;
                height: 50%;
                width: 100%;
            }
           
            .centro article p{
                width: 90%;
                margin: auto;
            }
            .centro h2 img{
                margin-top: 20px;
            }

             .centro2 h2, .centro1 h2{
                text-align: center;
                height: 15%;
                
            }
         
            .fecha{
                color: red;
                margin-top: 10px;
                width: 100%;
                height: 7%;
                text-align: center;
            }
            .textoeventos{
                justify-content: center;
                text-align: center;
                line-height: 1.6em;
            }
            .textoglosario{
                line-height: 1.3em;
            }

.centro1, .centro2, .textoeventos, .textoglosario, .centro article p, .fecha, .titulo2d, .centro h2 {
                    background: rgb(68, 2, 2);            
}
                /*------------------------derecha----------------------*/

                .contenedor-formulario{
                    height: 100%;
                    width: 70%;
                    float: right;
                }
.texto-formulario{
    width: 100%;
    height: 23%;
    
}
.texto-formulario h2{
    margin-top: 25px;
}


.formulario-h2{
    width: 80%;
    height: 60%;
}
.titulo2-form{
    width: 100%;
    height: 6%;
}
.texto-formulario h2,  h3{
    color: white;
}

textarea, select, table input, table tr {
    background: white;
}

textarea {
  resize: none;

}
  aside span{
    width: 80%;
    height:5%;
    /*background: pink;*/
    float: left;
    text-align: center;
   }


   span input{
    padding: 10px;

    color: white;
    border: solid white 1px;

   }

/*-----------------footer-------------------*/

        footer {
            
            width: 100%;
            height: 5%;
          }

footer, .pie,  .pie ul, .pie li, .pie ul li a{
    background: black;
}
            .pie ul{
                width: 100%;
                height: 50%;
                border-top: solid 2px white;
            }
            .pie ul li{
             display: inline-block;
            padding: 5px;
            border-right: solid 1px gray;
            
            }

            .pie ul li a{
                text-decoration: none;
                color: white;
            }